.main-container-5 {
  background-image: url(../images/bg_6.png);
  background-size: cover;
  padding-top: 229px;
  padding-bottom: 100px;
}
.main-container-5 .content-container {
  display: flex;
}
.main-container-5 .content-container .img-container {
  background-image: url(../images/bg_6.png);
  background-size: cover;
  width: 445px;
  height: 284px;
}
.main-container-5 .content-container .title-container {
  display: inline-flex;
  /*align-self:flex-end;*/
  flex-direction: column;
  width: 540px;
  align-self: flex-end;
  background-color: rgba(35, 35, 35, 0.7);
  padding: 50px 30px;
  margin-left: auto;
}
.main-container-5 .content-container .title-container .title-container__title {
  display: inline-block;
  color: #ffffff;
  font-family: Aleo;
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;
  margin-top: 30px;
}
.main-container-5 .content-container .title-container .title-container__description {
  display: inline-block;
  color: #e8e8e8;
  font-family: Josefin Sans-Regular;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin: auto;
  margin-top: 29px;
}