
.main-container-7{
    background-color:#232323;
    padding-top:120px;
    padding-bottom:50px;

    .content-container{
        display:flex;
        justify-content:center;

        .title-container{
            display:inline-block;
            text-align:center;
            margin:auto;

            .title-container__title{
                font-family: Josefin Sans-Bold;
                font-size: 24px;
                color: #ffffff;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 3.36px;
            }
            .title-container__description{
                display:inline-block;
                font-family: Josefin Sans-Regular;
                line-height:10px;
                color: #ffffff;
                letter-spacing: 1.6px;
                margin-top:15px;
            }
            .icons-container{
                display:flex;
                justify-content:space-between;
                flex-wrap:wrap;
                margin-top:10px;

                .icon-container-svg{
                    display:inline-block;
                    justify-content:center;
                    align-items:center;
                    width:50px;
                    height:50px;

                    .icon_sprite{
                        display:inline-block;
                        fill:white;
                        width:30px;
                        height:30px;
                    }

                }

            }
        }
    }
}

.icon_sprite:hover {
    fill: #f00 !important;
}















