.header{
    display:flex;
    position:relative;
    bottom:0;
    height: 80px;
    background-color: #5474fd;
    justify-content:space-between;

    .header-content{
        display:flex;
        width:1130px;
        align-items:center;
        justify-content:space-between;
        padding-left:20px;
        margin:auto;

        .header-content__logo{
            display:inline-flex;
            font-family: Josefin Sans-Bold;
            font-size: 24px;
            line-height: 26px;
            text-transform: uppercase;
            color: #ffffff;
        }

        .hamburger-menu{
            display:flex;

            .menu-button{
                display:flex;
            }

            .header-content__nav{
                display:flex;

                .navigation{
                    display:flex;
                    padding:0px;
                    margin:0px;

                    &__item{
                        display:block;
                        font-family:Aleo;
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 26px;
                        text-transform: uppercase;
                        margin: 0px 21px;
                    }

                    &__item:hover{
                        background-color:#045c9e;
                    }
                }
            }
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}

#menu__toggle{
    opacity:0;
}

@media screen and(max-width:767px){

    .menu-button{
        display:flex;
        align-items:center;
        position:relative;
        top:2px;
        right:20px;
        width:26px;
        height:26px;
        cursor:pointer;
        z-index:1;
    }

    .span-menu,
    .span-menu::before,
    .span-menu::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #045c9e;
    }

    .span-menu::before{
        content: '';
        top: -8px;
    }

    .span-menu::after{
        content: '';
        top: 8px;
    }

    .navigation{
        display:flex;
        flex-direction:column;
        max-height:150px;
        visibility:hidden;
        position:absolute;
        top:80px;
        right:-100%;
        list-style:none;
        text-align:center;
        box-shadow: 5px 0px 6px rgba(0, 0, 0, .2);

        .navigation__item{
            display:inline-flex;
            font-family:Aleo;
            color: #ffffff;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            margin: 0px 21px;
        }
    }

    #menu__toggle:checked ~ .menu-button > .span-menu {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu-button > .span-menu::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked ~ .menu-button > .span-menu::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .header-content__nav > .navigation {
         visibility: visible;
         right:0;
         background-color: #5474fd;
         box-shadow: 5px 0px 6px rgba(0, 0, 0, .5);
    }
}