.main-container-1{
    background-image:url(../images/bg_1.png);
    background-size: cover;
    padding-top:265px;
    padding-bottom:0px;

    @media screen and (max-width:767px) {
        padding-top:150px;
    }

    @media screen and (max-width:480px) {
        padding-top:100px;
    }

    .content-container{

        .title-container{
            display:flex;
            max-width:809px;
            flex-direction:column;
            justify-content:center;
            margin:auto;

            .title-container__title{
                display:flex;
                max-width:809px;
                justify-content:center;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Josefin Sans-Bold;
                font-size: 48px;
                line-height: 26px;
                margin:auto;
                letter-spacing: 4.8px;

                @media screen and (max-width:480px) {
                    font-size: 30px;
                    letter-spacing: 2px;
                    }
                }

            .title-container__description{
                display:flex;
                text-align:center;
                color: #ffffff;
                font-size: 22px;
                font-family: Josefin Sans-Regular;
                line-height: 26px;
                margin:auto;
                margin-top:15px;
                text-align:center;
                letter-spacing: 6.82px;

                @media screen and (max-width:480px) {
                    font-size: 17px;
                    letter-spacing: 3px;
                    }
                }

            .title-container__form{
                margin:auto;
                margin-top:50px;

                .form{
                    display:flex;

                    .form__search{
                        display:flex;
                        width: 500px;
                        height: 60px;
                        background-color: #ffffff;
                        color: #999999;
                        font-size: 14px;
                        letter-spacing: 2.8px;
                        text-align:center;

                        @media screen and (max-width:767px) {
                            width: 300px;
                        }

                        @media screen and (max-width:530px) {
                            height:45px;
                            width: 200px;
                            letter-spacing: 0px;
                        }

                        @media screen and (max-width:480px) {
                            width: 150px;
                            padding-left:14px;
                        }
                    }

                    .form__submit{
                        display:inline-flex;
                        width: 150px;
                        height: 60px;
                        font-family: Aleo;
                        border: 2px solid #ffffff;
                        background-color: #5474fd;
                        font-size: 14px;
                        color: #ffffff;
                        text-transform: uppercase;
                        letter-spacing: 1.4px;
                        padding:20px 10px 20px 25px;
                        margin:0;

                        @media screen and (max-width:530px) {
                            height:45px;
                            width: 100px;
                            padding:0px;
                            padding-left:15px;
                        }
                    }

                    .form__submit:after{
                    display:inline-flex;
                    content:url(../images/search-icon.png);
                    width: 20px;
                    height: 20px;
                    margin-left:15px;

                    @media screen and (max-width:530px) {
                            display:none;
                        }
                    }
                }
            }

            .scroll-container{
                display:flex;
                flex-direction:column;
                justify-content:center;
                margin:auto;
                margin-top:120px;
                margin-bottom:135px;

                @media screen and (max-width:767px) {
                    margin-top:50px;
                    margin-bottom:100px;
                }

                @media screen and (max-width:480px) {
                    margin-bottom:50px;
                }

                .scroll-container__text{
                    color: #ffffff;
                    line-height: 26px;
                    letter-spacing: 2.8px;
                    font-family: Josefin Sans-Regular;
                }

                .scroll-container__icon{
                    display:inline-flex;
                    width: 15px;
                    height: 8px;
                    display:inline-block;
                    background-image:url(../images/scroll.png);
                    margin:auto;
                    margin-top:10px;
                }
            }
        }
    }
}


