.main-container-5{
    background-image:url(../images/bg_5.png);
    background-size:cover;
    padding-top:229px;
    padding-bottom:100px;

    .content-container{
        display:flex;



        .title-container{
            display:inline-flex;
            /*align-self:flex-end;*/
            flex-direction:column;
            width:540px;
            align-self:flex-end;
            background-color: rgba(35, 35, 35, 0.7);
            padding: 50px 30px;
            margin-left:auto;

            .title-container__country{
                display:inline-block;

                color: #e8e8e8;
                font-family: Josefin Sans-Regular;
                font-size: 16px;
                line-height: 26px;
                text-align:justify;
                letter-spacing: 1.6px;


            }
            .title-container__title{
                display:inline-block;
                color: #ffffff;
                font-family:Aleo;
                font-weight: 700;
                font-size: 36px;
                line-height: 26px;
                margin-top:30px;
            }

            .title-container__description{
                display:inline-block;
                color: #e8e8e8;
                font-family: Josefin Sans-Regular;
                font-size: 16px;
                line-height: 26px;
                text-align:justify;
                margin:auto;
                margin-top:29px;
            }

            .title-container__button{
                display:inline-block;
                width: 225px;
                height: 60px;
                color: #ffffff;
                font-size: 16px;
                text-transform: uppercase;
                border:none;
                font-family: Aleo;
                background-color: #5474fd;
                margin-top:48px;
                letter-spacing: 1.2px;
                line-height: 26px;


            }
        }
    }
}