.main-container-2{
    background-image:url(../images/bg_2.png);
    background-position:center;
    background-size:cover;
    padding-top:120px;
    padding-bottom:120px;

    @media screen and (max-width:1081px) {
        padding-top:50px;
        padding-bottom:50px;
    }

    .content-container{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        margin:auto;

        .title-container{
            display:inline-flex;
            flex-direction:column;
            width:550px;
            padding-right:20px;

            @media screen and (max-width:1081px) {
                margin:auto;
            }

            @media screen and (max-width:767px) {
                padding-right:0px;
            }

            .title-container__title{
                display:inline-flex;
                color: #ffffff;
                font-family:Aleo;
                font-weight: 700;
                font-size: 36px;
                line-height: 26px;
                margin-top:84px;

                @media screen and (max-width:767px) {
                    font-size: 30px;
                    margin:auto;
                }

                @media screen and (max-width:480px) {
                    font-size: 20px;
                    margin-top:20px;
                    line-height: 30px;
                }
            }

            .title-container__description{
                display:flex;
                text-align:center;
                color: #e8e8e8;
                font-family: Josefin Sans-Regular;
                font-size: 16px;
                line-height: 26px;
                text-align:justify;
                letter-spacing: 1.6px;
                margin:auto;
                margin-top:62px;

                @media screen and (max-width:1081px) {
                    margin:auto;
                    margin-top:20px;
                }

                @media screen and (max-width:480px) {
                    font-size: 12px;
                    margin-top:20px;
                    line-height: 20px;
                }
            }

            .title-container__button{
                display:block;
                width: 225px;
                height: 60px;
                color: #ffffff;
                font-size: 16px;
                text-transform: uppercase;
                border:none;
                font-family: Aleo;
                background-color: #5474fd;
                margin-top:48px;
                letter-spacing: 1.2px;
                line-height: 26px;

                @media screen and (max-width:767px) {
                    margin:auto;
                    margin-top:20px;
                }

                @media screen and (max-width:480px) {
                    width: 150px;
                    height: 50px;
                    margin-top:20px;
                    font-size: 14px;
                    letter-spacing: 1.2px;
                }
            }
        }

        .images-container{
            display:flex;
            flex-direction:column;
            align-content:space-between;
            width: 475px;

            @media screen and (max-width:1081px) {
                margin:auto;
                margin-top:20px;
            }

            .images-container__img1{
                display:inline-flex;
                align-self:flex-start;
                background-image:url(../images/img_2_top.png);
                background-size:cover;
                width: 350px;
                height: 220px;

                @media screen and (max-width:1081px) {
                align-self:center;
                }

                @media screen and (max-width:480px) {
                width: 250px;
                height: 130px;
                }
            }

            .images-container__img2{
                display:inline-flex;
                align-self:flex-end;
                background-image:url(../images/img_2_bottom.png);
                background-size:cover;
                width: 350px;
                height: 220px;

                @media screen and (max-width:1081px) {
                align-self:center;
                margin-top:20px;
                }

                @media screen and (max-width:480px) {
                width: 250px;
                height: 130px;
                }
            }
        }
    }
}